In [1]:
!python -V

Python 3.10.13

In [2]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [4]:
df1 = pd.read_parquet('/workspaces/mlopszoomcamp24/data/yellow_tripdata_2023-01.parquet')
# Convert all column names to lowercase
df1.columns = [col.lower() for col in df1.columns]

df2 = pd.read_parquet('/workspaces/mlopszoomcamp24/data/yellow_tripdata_2023-02.parquet')
df2.columns = [col.lower() for col in df2.columns]

In [5]:
df1.head(2)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.0,0.5,0.0,0.0,1.0,14.3,2.5,0.0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.0,0.5,4.0,0.0,1.0,16.9,2.5,0.0

In [27]:
#df = pd.concat([df1, df2], axis=0)

# Reset indexes of original DataFrames
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

# Concatenate the DataFrames
df = pd.concat([df1, df2], ignore_index=True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5980721 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   ratecodeid             float64
 6   store_and_fwd_flag     object
 7   pulocationid           int64
 8   dolocationid           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 912.6+ MB

In [36]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5980721 entries, 0 to 5980720
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   ratecodeid             float64
 6   store_and_fwd_flag     object
 7   pulocationid           int64
 8   dolocationid           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 867.0+ MB

### Homework1

#### Read the data for January. How many columns are there?

In [39]:
# Count the number of columns in the DataFrame
num_columns = df1.shape[1]

# Print the number of columns
print("Number of columns:", num_columns)

Number of columns: 19

#### Now let's compute the duration variable. It should contain the duration of a ride in minutes. What's the standard deviation of the trips duration in January?

In [42]:
# Calculate the duration of each trip in minutes and store it in a new column 'duration'
# The duration is calculated as the difference between drop-off and pickup times
df1['duration'] = df1.tpep_dropoff_datetime - df1.tpep_pickup_datetime
# Convert the duration from timedelta to minutes by dividing total seconds by 60
df1.duration = df1.duration.apply(lambda td: td.total_seconds() / 60)

# Calculate the standard deviation of the 'duration' column
duration_std1 = df1['duration'].std()

# Print the standard deviation
print("Standard deviation of duration column:", duration_std1)

Standard deviation of duration column: 42.59435124195458

#### Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).
What fraction of the records left after you dropped the outliers?

In [46]:
# Count the total number of records before removing outliers
total_records_before = len(df1)

# Filter the DataFrame to keep only records where the duration is between 1 and 60 minutes
df1_filtered = df1[(df1['duration'] >= 1) & (df1['duration'] <= 60)]

# Count the number of records after removing outliers
total_records_after = len(df1_filtered)

# Calculate the fraction of records remaining after dropping outliers
fraction_remaining = total_records_after / total_records_before *100

# Print the fraction of records remaining
print("Fraction of records remaining after dropping outliers:", fraction_remaining, "%")

Fraction of records remaining after dropping outliers: 98.1220282212598 %

##### Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

* Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
* Fit a dictionary vectorizer
* Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

In [49]:
# Convert DataFrame to a list of dictionaries
data_list = df1[['pulocationid', 'dolocationid']].astype(str).to_dict(orient='records')

# Initialize and fit the dictionary vectorizer
dv  = DictVectorizer(sparse=False)
dv .fit(data_list)

# Transform the data to obtain the feature matrix
feature_matrix = dv .transform(data_list)

# Get the dimensionality of the feature matrix (number of columns)
num_columns = feature_matrix.shape[1]

# Print the dimensionality of the feature matrix
print("Dimensionality of the feature matrix (number of columns):", num_columns)

: